<ion-content class="ion-padding">
  <p *ngIf="auth.loading" class="ion-text-center">Loading...</p>
  <ng-template [ngIf]="!auth.loading">
    <!-- Not loading, not logged in: show login button -->
    <ion-button
      button
      expand="block"
      color="primary"
      *ngIf="!auth.loggedIn"
      (click)="auth.login()"
      >Log In</ion-button
    >
  </ng-template>
</ion-content>
