<ion-app>
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/edit-user']">Mi Cuenta</ion-item>
        <ion-item>Salir</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: #8dd14e"></ion-menu-button>
      </ion-buttons>
      <ion-title>Eat Finder</ion-title>
      <ion-icon
        slot="end"
        name="location"
        style="color: #8dd14e"
        size="large"
        (click)="updateUserLocation()"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-range
      min="0"
      max="100"
      step="20"
      snaps="true"
      color="secondary"
      [(ngModel)]="distance"
    >
      <ion-label slot="end"
        >{{distance}}<ion-icon
          name="fast-food"
          style="color: #8dd14e"
        ></ion-icon
      ></ion-label>
    </ion-range>
    <ion-grid
      ><ion-row>
        <ion-col size="9"
          ><ion-input
            placeholder="Filtrar por nombre"
            style="border: solid 1px #8dd14e"
            [(ngModel)]="search"
          ></ion-input
        ></ion-col>
        <ion-col size="3"
          ><ion-button (click)="handleSearch()">Buscar</ion-button></ion-col
        >
      </ion-row></ion-grid
    >
    <ion-list>
      <ion-item *ngFor="let res of rest" [routerLink]="['/home',res.id]">
        <ion-avatar slot="start">
          <ion-img [src]="res.imagen"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{res.nombre}}</h2>
          <h3>{{res.descripcion}}</h3>
          <h3>Puntuación: {{res.puntuacion}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
