<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/edit-user']">Mi Cuenta</ion-item>
      <ion-item>Salir</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #8dd14e"></ion-menu-button>
    </ion-buttons>
    <ion-title>Eat Finder</ion-title>
  </ion-toolbar>
</ion-header>
<ion-router-outlet id="main-content"></ion-router-outlet>
<ion-content *ngIf="mainRestaurant">
  <ion-card>
    <img [src]="mainRestaurant.imagen" style="width: 100%; height: auto" />
    <ion-card-header>
      <ion-card-subtitle>¡Bienvenido!</ion-card-subtitle>
      <div class="title-row">
        <div *ngIf="editEnabled; else elseBlock">
          <ion-input id="restaurant-name-input" value="{{mainRestaurant.nombre}}"></ion-input>
        </div>
        <ng-template #elseBlock>
          <ion-card-title id="restaurant-name">{{mainRestaurant.nombre}}</ion-card-title>
        </ng-template>
        <button id="editButton" (click)="enableEdit()">
          {{editEnabled ? "Guardar" : 'Editar'}}
        </button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text color="secondary">Descripción</ion-text>
              </ion-col>
              <ion-col>
                <div *ngIf="editEnabled; else elseBlockDescription">
                  <ion-input id="restaurant-description-input" value="{{mainRestaurant.descripcion}}"></ion-input>
                </div>
                <ng-template #elseBlockDescription>
                  <ion-text id="restaurant-description">{{mainRestaurant.descripcion}}</ion-text>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text color="secondary" style="font-weight: bold">Dirección</ion-text>
              </ion-col>
              <ion-col>
                <div *ngIf="editEnabled; else elseBlockDirection">
                  <ion-input id="restaurant-address-input" value="{{mainRestaurant.direccion}}"></ion-input>
                </div>
                <ng-template #elseBlockDirection>
                  <ion-text id="restaurant-address">{{mainRestaurant.direccion}}</ion-text>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text color="secondary" style="font-weight: bold">Puntuación
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text id="restaurant-score">{{mainRestaurant.puntuacion}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item *ngIf="editEnabled">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text color="secondary">Imagen</ion-text>
              </ion-col>
              <ion-col>
                <ion-input id="restaurant-image-input" value="{{mainRestaurant.imagen}}"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Editar</ion-card-subtitle>
      <ion-card-title>Promociones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let promotion of promotions; index as i">
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                <ion-input [(ngModel)]="promotion.description"></ion-input>
              </ion-col>
              <ion-col size="3">
                <ion-icon name="create" color="primary" (click)="editPromotion(promotion.id, promotion.description)">
                </ion-icon>
                <ion-icon name="trash" color="warning" (click)="deletePromotion(promotion.id)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                <ion-input placeholder="Ingresar..." [(ngModel)]="promotionDescription"></ion-input>
              </ion-col>
              <ion-col size="3">
                <ion-icon name="add-circle" color="secondary" (click)="addPromotion(promotionDescription)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-item-divider>
    <ion-label>
      Comentarios
    </ion-label>
  </ion-item-divider>
  <div class="comment-box">
    <ion-card *ngFor="let comment of datos">
      <ion-card-content>
        <strong>{{comment.comentario}}</strong>
        <p>
          Puntuación: {{comment.valor}}
        </p>
        <p>
          De: {{comment.correo}}
        </p>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>