<ion-header>
  <ion-toolbar>
    <ion-title>Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos</ion-card-title>
      </ion-card-header>


      <ion-card-content>
        <ion-col size="7" size-md>
          <ion-item>
            <ion-label position="floating">Correo Electronico</ion-label>
            <ion-input value="{{email}}" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input placeholder="{{nombre}}" [(ngModel)]="nuevoNombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input placeholder="{{apellido}}"  [(ngModel)]="nuevoApellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input id="passwordEyeRegister" [type]="passwordTypeInput" value="{{password}}"  [(ngModel)]="nuevaPassword"></ion-input>
            <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
              <ion-icon [name]="iconpassword"></ion-icon>
            </button>
          </ion-item>
          <ion-item>
            <ion-button color="danger" [routerLink]="['/home']">
              Cancelar
              <ion-icon slot="end" name="close-circle-sharp"></ion-icon>
            </ion-button>
            <ion-button (click)="editUser()">
              Guardar
              <ion-icon slot="end" name="save-outline" ></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>