<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon name="wine"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Menu Restaurante</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content id="mealsContainer">
    <ion-card style="width: 25rem;">
        <ion-card-header>
            <ion-card-subtitle>Precio: Q</ion-card-subtitle>
            <ion-input [(ngModel)]="precioNuevo" type="number" placeholder="Ingrese precio"></ion-input>

            <ion-card-title>Nombre:</ion-card-title>
            <ion-input [(ngModel)]="nombreNuevo" placeholder="Ingrese nombre"></ion-input>
        </ion-card-header>
        <ion-list>
            <ion-item>
                <ion-card-content>Descripcion:</ion-card-content>
            </ion-item>
            <ion-item>
                <ion-card-content>
                    <ion-textarea [(ngModel)]="descripcionNueva" placeholder="Ingrese descripcion"></ion-textarea>
                </ion-card-content>
            </ion-item>
            <ion-item text-center>
                <ion-button round outline (click)="agregar()">Agregar</ion-button>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-row>
        <ion-col size=auto *ngFor=" let comida of comidas ">
            <ion-card style="width: 18rem;">
                <!--<img src="https://445725.smushcdn.com/570282/wp-content/uploads/2019/07/como-hacer-papas-fritas-de-mcdonals.jpg?lossy=1&strip=1&webp=1 " />-->
                <ion-card-header>
                    <ion-card-subtitle>Precio: Q {{comida.Precio}} </ion-card-subtitle>
                    <ion-input [(ngModel)]="precioNuevo" type="number" placeholder="Ingrese precio nuevo"></ion-input>

                    <ion-card-title>{{comida.Nombre}}</ion-card-title>
                    <ion-input [(ngModel)]="nombreNuevo" placeholder="Ingrese nombre nuevo"></ion-input>
                </ion-card-header>
                <ion-list>
                    <ion-item>
                        <ion-card-content>{{comida.Descripcion}}</ion-card-content>
                    </ion-item>
                    <ion-item>
                        <ion-card-content>
                            <ion-textarea [(ngModel)]="descripcionNueva" placeholder="Ingrese descripcion nueva"></ion-textarea>
                        </ion-card-content>
                    </ion-item>
                    <ion-item text-center>
                        <ion-button round outline (click)="editar(comida)">Actualizar</ion-button>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>