ion-slide{
    display:block;
}

.slide-img-padding{
    padding: 20px;
}

.texto{
    text-align:center;
}

ion-label{
    font-size:xx-large;
    text-align:center;
}

.otro{
    font-size:x-large;
}
.comment-box {
    overflow: scroll;
    height: 220px;
}