<ion-header>
  <ion-toolbar>
    <ion-title side="center">{{datos[0].nombre}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="datos">
  <ion-card>
    <ion-slides pager="true"
      ><ion-slide>
        <div class="slide-img-padding">
          <img [src]="datos[0].imagen" />
        </div> </ion-slide
      ><ion-slide>
        <div class="slide-img-padding">
          <img [src]="datos[0].imagen" />
        </div> </ion-slide
    ></ion-slides>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col
                ><ion-text color="secondary" style="font-weight: bold"
                  >Descripción</ion-text
                >
              </ion-col>
              <ion-col><ion-text>{{datos[0].descripcion}}</ion-text></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col
                ><ion-text color="secondary" style="font-weight: bold"
                  >Dirección</ion-text
                >
              </ion-col>
              <ion-col><ion-text>{{datos[0].direccion}}</ion-text> </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col
                ><ion-text color="secondary" style="font-weight: bold"
                  >Puntuación
                </ion-text>
              </ion-col>
              <ion-col
                ><ion-text>{{datos[0].puntuacion}}</ion-text>
                <ion-icon name="star" style="color: #8dd14e"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-text color="secondary" style="font-weight: bold"
        >Mi calificación
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-range
        min="1"
        max="5"
        step="1"
        snaps="true"
        color="secondary"
        [(ngModel)]="myRate"
        (click)="updateRate()"
      >
        <ion-label slot="end"
          >{{myRate}}<ion-icon name="star" style="color: #8dd14e"></ion-icon
        ></ion-label>
      </ion-range>
    </ion-card-content>
  </ion-card>
  <ion-item-divider>
    <ion-label>
      Comentarios
    </ion-label>
  </ion-item-divider>
<div class="comment-box">
  <ion-card *ngFor="let comment of comentarios">
    <ion-card-content>
          <strong>{{comment.comentario}}</strong>
          <p>
            Puntuación: {{comment.valor}}
          </p>
          <p>
           De: {{comment.correo}}
          </p>
    </ion-card-content>

  </ion-card>
</div>
</ion-content>
